body {
    margin: 0;
    padding: 0;
}

.profile-box {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 50%;
    height: 73%;
    transform: translate(-50%, -50%);
    background: rgba(36, 36, 36, 0.5);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0, 0, 0, .2);
    border-radius: 10px;
}

.circle-img {
    position: relative;
    top: 0%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(36, 36, 36);
    border-radius: 50%;
    outline: 2px;
    height: 20vh;
    width: 20vh;
    overflow: hidden;
}

.circle2-img {
    position: absolute;
    top: 10%;
    left: 62%;
    transform: translate(-50%, -50%);
    background: rgb(14, 14, 14);
    border-radius: 50%;
    outline: 2px;
    height: 5vh;
    width: 5vh;
    /* overflow: hidden; */
}

.image-pro {
    height: 20vh;
    width: 20vh;
    object-fit: cover;
}

.fullNm,
.UserNm,
.News,
.phone-profile,
.id_user {
    display: flex;
    width: 50%;
    margin-left: 30px;
    padding: 10px 0;
    font-size: 14px;
    color: #fff;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
}